<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86626703872-54dr4q1k4id7po2na8q0s5hhv2ri5ijs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86626703872-54dr4q1k4id7po2na8q0s5hhv2ri5ijs</string>
	<key>API_KEY</key>
	<string>AIzaSyCZUxLiqQmp74K36399CYiJ2-DGUrGFlnk</string>
	<key>GCM_SENDER_ID</key>
	<string>86626703872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RepeatPlease</string>
	<key>PROJECT_ID</key>
	<string>repeatpleaseapi</string>
	<key>STORAGE_BUCKET</key>
	<string>repeatpleaseapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86626703872:ios:3646026e7c0f4079a796e5</string>
	<key>DATABASE_URL</key>
	<string>https://repeatpleaseapi.firebaseio.com</string>
</dict>
</plist>